body {
}

.req {
    color: #ff0000;
    font-weight: 600;
}

.frmlabel {
    font-weight: 600;
}

.standardheader {
    margin-bottom: 0;
    padding-bottom: 0;
}

.coltitle{
    font-weight: 600;
}

/* COURSE TABLE DISPLAY STYLES*/
.crslistingcont {
    width: 45%;
    padding: 0;
}

.crslistingrow {
    width: 100%;
    padding: 3px 0 3px 0;
    font-size: 16px;
    display: block;
    overflow: hidden;
}

.crsid {
    width: 20%;
    float: left;
}

.crsname {
    width: 60%;
    float: left;
}

.crsviewdetails {
    width: 20%;
    float: left;
}

.crslink {
    text-decoration: none;
}

/* CLIENT TABLE DISPLAY STYLES */

.clientlistingcont {
    width: 55%;
    padding: 0;
}

.clientlistingrow {
    width: 100%;
    padding: 3px 0 3px 0;
    font-size: 16px;
    display: block;
    overflow: hidden;
}

.clientid {
    width: 5%;
    float: left;
}

.clientfname {
    width: 8%;
    float: left;
}

.clientlname {
    width: 8%;
    float: left;
}

.clientemail {
    width: 20%;
    float: left;
}

.clientmobile {
    width: 10%;
    float: left;
}

.clientorg {
    width: 15%;
    float: left;
}

.clientorgrole {
    width: 20%;
    float: left;
}

.clientviewdetails {
    width: 14%;
    float: left;
}

.clientlink {
    text-decoration: none;
}

/*
.courselistcontainer {
    width: 65%;
    padding: 0;
}

.courserow {
    width: 100%;
    padding: 3px 0 3px 0;
    font-size: 16px;
    display: block;
    overflow: hidden;
}

.courseid {
    width: 15%;
    float: left;
}

.coursename {
    width: 50%;
    float: left;
}

.courseviewlink {
    width: 15%;
    float: left;
}

.crslink {
    text-decoration: none;
}

.clear {
    clear: both;
}
    */

.frm_row_cont {
    width: 100%;
    padding: 5px 0 5px 0;
    font-size: 16px;
}

.button {
    background-color: #000080;
    border: none;
    color: white;
    padding: 7px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 15px;
}

.addcrsmsgdiv {
    display: none;
}

.addaccmsgdiv {
    display: none;
}

.addpresmsgdiv {
    display: none;
}

.addroommsgdiv {
    display: none;
}

.updatecrsmsgdiv {
    display: none;
}

.addsessmsgdiv {
    display: none;
}

.welcmsgadpanldiv {
    display: none;
}

.deletecrsmsgdiv {
    display: none;
}

.dllist {
    width: 350px;
    border: solid 1px #000080;
    border-radius: 3px;
}

.dllist_eh {
    width: 252px;
    border: solid 2px #000080;
    border-radius: 3px;
}

.tbinput {
    width: 350px;
    height:25px;
    border: solid 1px #000080;
    border-radius: 3px;
}

.fauxlink {
    color: #0094ff;
}

.greybox {
    background-color: #ede6e6;
    border: solid 1px #7d7777;
    border-radius: 5px;
    width: 365px;
    padding:0 5px 0 5px;
}